<ion-view view-title="VIDEO">
  <ion-content>
  	<div class="container">
	    	<div class="row">
	    		<div class="col">
	    			<h2 class="asd">VIDEO IMPORTANCIA DEL AGUA:</h2>
	    			<br>
	    			<h5 class="text">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

          			Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</h5>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    	</div>
	    </div>
  </ion-content>
</ion-view>
