<ion-view view-title="INFOGRAFÍAS">
  <ion-content>
    <!--tex infografias-->
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="asd">INFOGRAFÍAS</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="img" height="270" width="270" src="img/info1.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class="img" height="350" width="250" src="img/info2.png">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="asd">ÁRBOL GENEALOGICO</h2>
          <img class="immm" src="img/0001.jpeg">
        </div>
      </div>
      <div class="row txx" >
        <div class="col">
          <ul>
            <li>ojos café (papá y mamá)</li>
            <li>tamaño de orejas(papá)</li>
            <li>piel morena (papá y mamá)</li>
            <li>pelo lizo (papá)</li>
            <li>altura (papá)</li>
            <li>lunar en la cara (papá)</li>
            <li>labios pequeños (mamá)</li>
            <li>poco pelo en sierta area (papá)</li>
            <li>2 remolinos en la cabeza (papá)</li>
            <li>nariz (papá)</li>
            <li>forma de la cara (papá)</li>
            <li>orajas (papá)</li>
            <li>ojos grandes (papá)</li>
            <li>pomulo pequeño (papá)</li>
            <li>forma de cejas (papá)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="asd">INFOGRAFÍA LEYES DE MENDEL</h2>
          <img class="immm" src="../img/p1.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2 class="asd">COLLAGE DE MAQUETAS</h2>
          <img class="imm" src="../img/p2.jpg">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
