<ion-view view-title="VIDEOS">
  <ion-content>
  	<div class="container">
	    	<div class="row">
	    		<div class="col">
	    			<h2 class="asd">IMPORTANCIA DEL AGUA:</h2>
	    			<br>
	    			<h5 class="text">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

          			Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</h5>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/7UHFvyhKIXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    	</div>
	    </div>
	    <br><br><br><br><br><br><hr>
	    <div class="container">
	    	<div class="row">
	    		<div class="col">
	    			<h2 class="asd">FECUNDACIÓN Y METODOS ANTICONCEPTIVOS:</h2>
	    			<br>
	    			<h5 class="text">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.

          			Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua. Quizás sea por eso que lo recomendable para tener una dieta saludable y una larga vida sea el comer alimentos con un porcentaje del 70 por ciento en agua.</h5>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/m8U2l1FI3X0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    		</div>
	    	</div>
		</div>
	    <br><br>
	    <hr>
	    <br><br>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<h2 class="asd">ENERGÍA DEL CUERPO</h2>
	    			<h5 class="text">El organismo humano utiliza la energía para muchos propósitos; por ejemplo: caminar, correr, moverse, respirar, crecer, madurar los tejidos, producir leche materna y mantener los tejidos sanos. ... Todos los procesos que se realizan en las células y los tejidos producen y requieren de la energía para llevarse a cabo.</h5>
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/-B1tgcgAlYc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    			<br><br>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<h2 class="asd">IMPORTANCIA DE LAS ENZIMAS</h2>
	    			<h5 class="text">La importancia de las enzimas en nuestro organismo. Las enzimas son catalizadores que ayudan en muchas reacciones bioquímicas en el cuerpo y fomentan la salud celular, y son producidas por una parte por el hígado y páncreas.</h5>
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/M3kc_kmQOXA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    			<br><br>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<h2 class="asd">TRANSPORTE ACTIVO/PASIVO</h2>
	    			<h5 class="text">El transporte pasivo es una gran estrategia para el movimiento de moléculas dentro o fuera de una célula. ... En el transporte activo, a diferencia del pasivo, la célula gasta energía (por ejemplo, en forma de ATP) para mover una sustancia contra su gradiente de concentración.</h5>
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/7ZcBuLObD9k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    			<br><br>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<h2 class="asd">OSMOSIS Y DIFUCIÓN</h2>
	    			<h5 class="text">es un fenómeno físico relacionado con el movimiento de un disolvente a través de una membrana semipermeable. Tal comportamiento supone una difusión simple a través de la membrana, sin gasto de energía. La ósmosis del agua es un fenómeno biológico importante para el metabolismo celular de los seres vivos.</h5>
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/qLdXYMUPnbE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    			<br><br>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col one">
	    			<h2 class="asd">MEMBRANA PLASMATICA</h2>
	    			<h5 class="text">La membrana plasmática, membrana celular, membrana citoplasmática o plasmalema, es una bicapa lipídica que delimita toda la célula.​ Es una estructura formada por dos láminas de fosfolípidos, glucolípidos y proteínas que rodean.</h5>
	    			<iframe width="280" height="180" src="https://www.youtube.com/embed/8bwg4SqT9Zs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    			<br><br>
	    		</div>
	    	</div>
	    </div>
  </ion-content>
</ion-view>
