<ion-view view-title="ADN 3D">
  	<ion-content class="padding">
	    <div class="container">
	    	<div class="row">
	    		<div class="col col-10"></div>
	    		<div class="col col-80">
	    			<h2 class="asd">ADN 3D</h2>
	    			<br>
	    			<h5 class="text">El ácido desoxirribonucleico, abreviado como ADN, siempre es un ácido nucleico que contiene las instrucciones genéticas usadas en el desarrollo y funcionamiento de todos los organismos vivos y algunos virus; también es responsable de la transmisión hereditaria.</h5>
	    		</div>
	    		<div class="col col-10"></div>
	    	</div>
	    	<div class="row">
	    		<div class="col col-25"></div>
	    		<div class="col col-50">  			
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
					<div class="dna"></div>
	    		</div>
	    		<div class="col col-25"></div>
	    	</div>
	    </div>
	</ion-content>
</ion-view>
