<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-background-dark tabs-color-stable bar-stable">

  <ion-tab title="VIDEOS" icon-off="ion-social-youtube" icon-on="ion-loading-a" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>
  <!-- Dashboard Tab -->
  <ion-tab title="ADN 3D" icon-off="ion-ios7-infinite" icon-on="ion-loading-a" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="INFOGRAFÍAS" icon-off="ion-images" icon-on="ion-loading-a" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="TABLA NUTRICIONAL" icon-off="ion-clipboard" icon-on="ion-loading-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="JUEGO" icon-off="ion-play" icon-on="ion-loading-a" href="#/tab/juego">
    <ion-nav-view name="tab-juego"></ion-nav-view>
  </ion-tab>

</ion-tabs>